@import "colours";
@import "emptyyourguts";
@import "header";

html {
    background-color: $lblack;
    color: $white;
    font-family: "Roboto Condensed", sans-serif;
}

.news-posts {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.news-post {
    width: fit-content;
    border: 1rem $lllblack solid;
    border-radius: 18px;
    background-color: $lllblack;
    text-decoration: none;
    color: $white;
    margin-bottom: 2.5rem;
    max-width: 20vw;
}

.news-url {
    text-decoration: none;
    color: $white;
}

.news-text-title {
    font-size: xx-large;
}

.news-text-descr {
    font-size: large
}

@media only screen and (max-width: 760px) {
    .header-menu-item {
        font-size: large;
    }

    .news-post {
        max-width: 30vh;
    }
}
